.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-main {
  margin: 50px 0;
  display: flex;
  width: 80%;
  height: 70vh;
  align-items: flex-start;
  justify-content: center;
}

.container {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-player {
  border: 1px solid cyan;
  width: 1000px;
}

.container-search {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 20px;
  width: 100%;
}

.searchBox {
  height: 30px;
  margin: 0 30px;
  width: 250px;
  outline: none;
  border: none;
}

.datainput {
  width: 350px;
  height: 20px;
  margin: 10px;
}

.submitButton {
  margin: 20px;
  background-color: purple;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  height: 40px;
  width: 400px;
}

.submitButton:hover {
  background-color: rgb(165, 1, 165);
}

.updateButton {
  background-color: rgb(47, 255, 193);
  border-radius: 5px;
  border: none;
  height: 30px;
  padding: 5px 20px;
}

.updateButton:hover {
  background-color: rgb(47, 206, 255);
  box-shadow: 0 0 4px rgb(47, 255, 193);
  outline: none;
}

.Box {
  box-shadow: 0 0 5px purple;
  width: 600px;
  margin: 10px 0;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid purple;
  padding: 8px;
  width: 100px;
}

td {
  color: white;
}

input,
input:focus {
  outline: none;
  border: none;
}

input:focus {
  box-shadow: -1px 2px 5px rgb(201, 6, 201);
}
